$background-color: #c0eea9;
$background-color2: #000;
$background: #97d279;
$primary-padding: 20px !default;
@mixin text {
    font-family:'Courier New', Courier, monospace;
    font-size: 20px;
    font-weight: bold;
}